.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAV BAR */

.toolbar-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* .nav-company {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
} */

.nav-company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-company-title {
  color: whitesmoke;
  text-decoration: none;
}

.nav-link-default {
  color: whitesmoke;
  text-decoration: none;
  display: block;
}

.nav-branch-picker {
  /* padding: 200px; */
  width: 175px;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: inline;
  margin: 10px;
}

.nav-list-link {
  color: whitesmoke;
  text-decoration: none;
}

/* LOGIN PAGE */
.login-page {
  margin-top: 35px;
}
